<html>

<head>
    <!--Comentario-->
    <!--La tienda de Arriate-->
    {% block link %}
    
    {% endblock %}
</head>

<body>
    <!--Header-->
    <div class="header">
        <!--Logo-->
        <div class="container-logo">
            <a href="static/image/logoArriate.png" target="_blank" alt="Logo"><img class="logo" src="static/image/logoArriate.png"/></a>
        </div>
        <!--Menu-->
        <div class="container-title-menu">
            <h1>La Tienda de Arriate</h1>
            <h2>Descubre la gastronomía de Arriate y otros lugares de la Serranía de Ronda</h2>
            <div class="menu">
                <ul>
                    <li class="incio">
                        <a href="index.php">Inicio</a>
                    </li>
                    <li class="Sobre nosotros">
                        <a href="info.php">Sobre nosotros</a>   <!--# se pone porque no tenemos un enlace, para que este por defecto--> 
                    </li>
                    <li class="Imprimir">
                        <a href="producto_imprimir.php?pr=1">Imprimir</a>
                    </li>
                </ul>
            </div>
        </div>

        
    </div>    
    <!--Panel auxiliar ">"-->
    <div class="panel-auxiliar">
        <label for="toggle">></label>
        <input type="checkbox" id="toggle">
        <aside>
            <h2>Información</h2>
            <p>Profundiza en nuestras raíces:</p>
            <!--Cambiar y poner el color y fuente en el css-->
            <ol>
                <li><a href="https://goo.gl/maps/Z1EhEzPywQRXK1YV6" target="_blank">Dónde estamos</a></li>
                <li><a href="https://es.wikipedia.org/wiki/Arriate_(M%C3%A1laga)" target="_blank">Descubre más sobre Arriate</a>.</li>
                <li><a href="https://es.wikipedia.org/wiki/Ronda" target="_blank">Descubre más sobre Ronda y la Serranía</a>.</li>
            </ol>
        </aside>
    </div>
    {% block cuerpo %}
    
    {% endblock %}

</body>

<!--Pie de página-->

<footer>
    <div class="footer-contenedor-texto">
        <p class="copyright">&copy;2022 Raúl Durán Racero. Todos los derechos reservados.</p>
    </div>

    <div class="footer-contenedor-iconos">
        <ul>
            <li><a href="https://twitter.com/RalDurn8" target="_blank"><img src="static/image/twitter.jpeg" class="icon-style" alt="Twitter icon"></a></li>
            <li><a href="https://github.com/elB1MBO" target="_blank"><img src="static/image/github.jpeg" class="icon-style" alt="Github icon"></a></li>
            <li><a href="https://www.facebook.com/Mistela-de-Arriate-1520195991617601" target="_blank"><img src="static/image/facebookIcon.png" class="icon-style" alt="Email icon"></a></li>
            <li><a href="https://pradogrado2122.ugr.es/" target="_blank"><img src="static/image/email.jpeg" class="icon-style" alt="Email icon"></a></li>
        </ul>
    </div>

</footer>

{% block scripts %}

{% endblock %}

</html>