/*Pagina inicio y registro*/
/*Fuente de google para texto*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*Fuente para titulo*/
@font-face {
    font-family: Cremona;
    src: url(../font/Cremona\ Regular\ TTF.ttf);
}
/*para que sea responsive*/
@media screen and (max-width:800px) {
    footer{
        width: 100%;
        grid-template-columns: repeat((1,1fr));
        grid-gap: 1px;
    }
}

*{
    color: black;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(71, 67, 57, 0.4),rgba(165, 146, 117, 0.4)),
    url(https://ep01.epimg.net/politica/imagenes/2017/11/13/diario_de_espana/1510567236_342790_1510567390_noticia_normal.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header{
    height: 20%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    
}

#logo{
    max-width: 100%;
    height: 100%;
    margin: auto;
    margin-right: 41%;
    object-fit: cover;
}

.back{
    width: 8%;
    height: 8%;
    margin-top: 2%;
    margin-right: 0;
    position: relative;
    cursor: pointer;
    background: transparent;
    text-align: center;
    align-items: center;
    font-size: 50px;
    color: rgba(245, 245, 220, 1);
    border: 0;
}
.back a{
    margin-bottom: 1%;
}
.back i{
    margin-bottom: 1%;
    color: rgb(245, 245, 220);
}

.container-principal{
    margin: 1% auto;
    width: 30%;
    height: 70%;
    position: relative;
    background-color: rgba(245, 245, 220, 0.85);
    border-radius: 20px;
    padding: 3%;
    overflow: hidden;
}

.botones{
    width: 100%;
    margin: auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgba(230, 107, 59, 0.122);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}

.toggle-button{
    margin: 0 auto;
    padding: 4% 5%;
    background: transparent;
    cursor: pointer;
    border: 0;
    outline: none; 
    position: relative;
    text-align: center;
    font-size: large;
}

#graphic-button{
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgb(196, 115, 115), rgb(184, 53, 53));
    border-radius: 30px;
    transition: .5s;
}

#container-content{
    width: 100%;
    height: 80%;
    margin: 8% auto;
    /* background-color: rgba(206, 65, 65, 0.4); */
    position: relative;
}

.input-group{
    width: 100%;
    height: 80%;
    margin: 10% auto;
    position: absolute;
    transition: .5s;
}

/* .input-group span{
    margin: 3% 1% 3%;
    font-size: small;
    position: absolute;
} */

.input-group i{
    position: absolute;
    margin-top: 2.5%;
}

.input-field{
    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(94, 92, 88);
    background: transparent;
    text-indent: 7%;
}

/* ::placeholder{
   padding-left: 7%;
} */

.eye{
    position: absolute;
    margin-left: 95%;
    margin-top: 3%;
    cursor: pointer;
}
#show, #show2{
    display: none;
}


.submit-button{
    width: 65%;
    height: 13%;
    padding: auto;
    cursor: pointer;
    display: block;
    margin: 6% auto;
    border: 0;
    border-radius: 30px;
    background: linear-gradient(to right, rgb(196, 115, 115), rgb(184, 53, 53));
    font-size: large;
}

.check-box{
    margin: 4% 1% 4%;
}

#register{
    left: -150%;
}


/* 
.hide{
    max-height: 0 !important;
}

.dropdown{
    border: 1px solid black;
    width: 60%;
    margin: 3% auto;
    background: rgb(245, 245, 220);
}

.dropdown .title{
    margin: 3px;
    width: 100%;
    cursor: pointer;
}

.dropdown .title .fa-angle-down{
    float: right;
    margin-top: 2%;
    margin-right: 3%;
    transition: transform .3s;
}

.dropdown .menu{
    transition: max-height .5s ease-out;
    max-height: 40%;
    overflow: hidden;
}

.dropdown .menu .option{
    margin: 2%;
    cursor: pointer;
}

.dropdown .menu .option:hover{
    background: rgb(196, 115, 115);
}

.rotate-90{
    transform: rotate(180deg);
}
*/

/*
.info-users{
    position: relative; IMPORTANTE: si este es relative, podemos hacer al otro absolute y ponerlo donde queramos
    left: -20%;
    top: 10%;
}*/

/* article{
    width: 100%;
    background: white;
    padding: 5%;
    border-radius: 30px;
    text-align: justify;
    position: absolute; Al ser el padre relative, este es absoluto respecto a él
    font-size: small;
    z-index: 1; Propiedad que sirve para superponerlo
    left: -105%;
    display: none;
} */

/* .info-users .icono{
    font-size: large;
}
.info-users .icono i{
    cursor: pointer;
    color: rgb(13, 13, 107);
}

.info-users:hover article{
    display: block;
}

.critical-words{
    font-weight: bold;
    color: black;
} */

