<html>
<head>
    <!--Página de login-->
    <link rel="stylesheet" href="static/css/login.css">
</head>

<body>
    <!--Una flecha para volver a la pagina principal-->
    <div class="header">
        <div class="back">
            <a href="index.php"><i class="fa-solid fa-arrow-left-long"></i></a>
        </div>
        <!-- <div class="container-logo">
            <a href="index.php" alt="Logo"><img id="logo" src="static/image/logo nombre hor.png"></a>
        </div> -->
        <img id="logo" src="static/image/logo nombre hor.png">
    </div>

    <div class="container-principal">
        <!--Botones para cambiar entre pestaña de registro y de inicio-->
        <div class="botones">
            <div id="graphic-button"></div>
            <button type="button" class="toggle-button" id="toggle-login">Iniciar Sesión</button>
            <button type="button" class="toggle-button" id="toggle-register">Registrarse</button>
        </div>
        <!--Contenido-->
        <section id="container-content">
            <form class="input-group" id="login" action="login.php" method="post"> <!--Iniciar sesion-->
                <i class="fa-solid fa-user"></i>
                <input name="usernameL" type="text" id="username" class="input-field" placeholder="Nombre de usuario" required>
                <i class="fa-solid fa-key"></i>
                <span class="eye" id="eye-button">   
                    <i class="fa-solid fa-eye" id="show"></i>
                    <i class="fa-solid fa-eye-slash" id="hide"></i>
                </span>
                <input name="passwdL" type="password" id="passwd" class="input-field" placeholder="Contraseña" required>
                <!-- <i class="fa-solid fa-eye-slash"></i> -->
                <input type="checkbox" class="check-box"><span>Recuérdame</span>
                <button type="submit" class="submit-button" id="login-button">Iniciar sesión</button>
            </form>
            <form class="input-group" id="register" action="login.php" method="post"> <!--Registrarse-->
                <i class="fa-solid fa-user"></i>
                <input name="usernameR" type="text" id="username" class="input-field" placeholder="Nombre de usuario" required>
                <i class="fa-solid fa-envelope"></i>
                <input name="email" type="text" id="email" class="input-field" placeholder="Correo electrónico" required>
                <i class="fa-solid fa-key"></i>
                <span class="eye" id="eye-button2">   
                    <i class="fa-solid fa-eye" id="show2"></i>
                    <i class="fa-solid fa-eye-slash" id="hide2"></i>
                </span>
                <input name="passwdR" type="password" id="passwd2" class="input-field" placeholder="Contraseña" required>
                
                <!-- <div class="dropdown">
                    <div class="title">Elige un tipo de usuario<i class="fa fa-angle-down"></i></div>
            
                    <div class="menu hide">
                        <div class="option" id="normal">Usuario Normal</div>
                        <div class="option" id="modificador">Usuario Modificador</div>
                        <div class="option" id="gestor">Usuario Gestor</div>
                        <div class="option" id="superusuario">SuperUsuario</div>
                    </div>
                </div> -->

                <!-- <input type="checkbox" class="check-box"><span>Acepto los términos y condiciones.</span> -->
                <button type="submit" class="submit-button" id="register-button">Registrarse</button>
            </form>
        </section>
    </div>

    <script src="static/js/login.js"></script>
    <script src="https://kit.fontawesome.com/320f33400a.js" crossorigin="anonymous"></script>

</body>
</html>