<html>
<head>
    <!--Página de login-->
    <link rel="stylesheet" href="static/css/perfil.css">
</head>

<body>

    <div class="header">
        <div class="back">
            <a href="index.php"><i class="fa-solid fa-arrow-left-long"></i></a>
        </div>

        <img id="logo" src="static/image/logo nombre hor.png">
    </div>

    <div class="container-principal">
        <img id="foto-perfil" src="static/image/profile/pan de molde.jpg">

        <div class="personal-data">
            <label class="data-label">Nombre de usuario: {{ usuario['nombre'] }} <i class="fa-solid fa-pencil"></i></label><br/>
            <label class="data-label">Email: {{ usuario['email'] }}</label><br/>
            <label class="data-label">Permisos de usuario: {{ usuario['tipo'] }}
                <div class="info-users">
                    <span class="icono"><i class="fa-solid fa-circle-question"></i></span>
                    <article>
                        <p><span class="critical-words">Normal:</span> Podrá incluir comentarios en cada producto del sitio y cambiar sus 
                            datos de usuario.</p>
                        <p><span class="critical-words">Moderador:</span> Podrá editar / borrar comentarios.</p>
                        <p><span class="critical-words">Gestor:</span> Podrá editar / borrar / añadir productos y etiquetas a los productos</p>
                        <p><span class="critical-words">Superusuario:</span> Podrá realizar cualquier acción, incluyendo modificar los roles
                            de los usuarios.
                        </p>
                    </article>
                </div>
            </label><br/>
        </div>

        <button type="button" class="logout-button" id="logout"><a href="logout.php">Cerrar sesión</a></button>
        


    </div>

    <script src="static/js/perfil.js"></script>
    <script src="https://kit.fontawesome.com/320f33400a.js" crossorigin="anonymous"></script>

</body>
</html>