{% extends "base.html" %}

    {% block link %}
    <link rel="stylesheet" href="static/css/portada.css">
    {% endblock %}

    {% block user %}
        <!-- {% if not usuario %}
            <p>NO estás logeado. <a href="loginPrueba.php">Logeate anda</a></p>
        {% else %}
            <p>SÍ estás logeado. Tu nick es <strong>{{usuario.username}}</strong></p>
            {% if usuario.tipo == super %}
                <p>Además, eres un superusuario.</p>
            {% endif %}
                <p><a href="logout.php">Cerrar sesión</a></p>
            {% endif %} -->
    {% endblock %}

    {% block cuerpo %}
    <!--Tabla de contenidos-->
    <div class="container-imgs">

        {% if productos %}
            {% for producto in productos %}
                <div class="galeria">
                    <a href="producto.php?pr={{ producto['id'] }}">
                        {% if imagenes %}
                            {%for imagen in imagenes %}
                                {% if imagen['id'] == producto['id'] %}
                                    <img src="static/image/{{ imagen['imagen'] }}">
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </a>
                        <div class="desc">{{producto['nombre']}}</div>
                </div>
            {% endfor %}
        {% endif %}

    </div>
    {% endblock %}
